<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/zacharysturman/Desktop/PORTFOLIO/Technology/MedTracker/AssetFolder</key>
	<data>
	Ym9va1QDAAAAAAUQQAAAACuenythuiLs52Dk0NiNPXbfSk6R+pr7vCVGW6+qoGecAAAA
	AAAAAAAAAAAAAAAAAEACAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADgAAAAEB
	AAB6YWNoYXJ5c3R1cm1hbgAABwAAAAEBAABEZXNrdG9wAAkAAAABAQAAUE9SVEZPTElP
	AAAACgAAAAEBAABUZWNobm9sb2d5AAAKAAAAAQEAAE1lZFRyYWNrZXIAAAsAAAABAQAA
	QXNzZXRGb2xkZXIAHAAAAAEGAAAQAAAAIAAAADgAAABIAAAAXAAAAHAAAACEAAAACAAA
	AAQDAACrQQAAAAAAAAgAAAAEAwAAqWcAAAAAAAAIAAAABAMAAMC53QgAAAAACAAAAAQD
	AADrHSkNAAAAAAgAAAAEAwAAJYIwDQAAAAAIAAAABAMAAPApcwoAAAAACAAAAAQDAADV
	g6wPAAAAABwAAAABBgAAvAAAAMwAAADcAAAA7AAAAPwAAAAMAQAAHAEAAAgAAAAABAAA
	QcdwUWLzsgQYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABQAA
	AAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBx2j7dAAAACQAAAABAQAARDlGQTUyNzEt
	OUI4Qi00NzI0LUIzQTEtOURERjI1RTMwRUZFGAAAAAECAACBAAAAAQAAAO8TAAABAAAA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAA
	AJgAAAAAAAAABRAAACwBAAAAAAAAEBAAAGABAAAAAAAAQBAAAFABAAAAAAAAAiAAACwC
	AAAAAAAABSAAAJwBAAAAAAAAECAAAKwBAAAAAAAAESAAAOABAAAAAAAAEiAAAMABAAAA
	AAAAEyAAANABAAAAAAAAICAAAAwCAAAAAAAAMCAAADgCAAAAAAAAAcAAAIABAAAAAAAA
	EcAAACAAAAAAAAAAEsAAAJABAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/zacharysturman/Downloads/PORTFOLIO/Technology/MedTracker/AssetFolder</key>
	<data>
	Ym9va1gDAAAAAAUQQAAAAARUG+Zxvs8wNyrIQW3PdtcIry0mTriJWNLEcl4KQS/PAAAA
	AAAAAAAAAAAAAAAAAEQCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAADgAAAAEB
	AAB6YWNoYXJ5c3R1cm1hbgAACQAAAAEBAABEb3dubG9hZHMAAAAJAAAAAQEAAFBPUlRG
	T0xJTwAAAAoAAAABAQAAVGVjaG5vbG9neQAACgAAAAEBAABNZWRUcmFja2VyAAALAAAA
	AQEAAEFzc2V0Rm9sZGVyABwAAAABBgAAEAAAACAAAAA4AAAATAAAAGAAAAB0AAAAiAAA
	AAgAAAAEAwAAq0EAAAAAAAAIAAAABAMAAKlnAAAAAAAACAAAAAQDAADcZwAAAAAAAAgA
	AAAEAwAA4RTWEAAAAAAIAAAABAMAABMo1hAAAAAACAAAAAQDAADwKXMKAAAAAAgAAAAE
	AwAA1YOsDwAAAAAcAAAAAQYAAMAAAADQAAAA4AAAAPAAAAAAAQAAEAEAACABAAAIAAAA
	AAQAAEHHcFFi87IEGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMA
	AAUAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50
	b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcd2afYAAAAkAAAAAQEAAEQ5RkE1
	MjcxLTlCOEItNDcyNC1CM0ExLTlEREYyNUUzMEVGRRgAAAABAgAAgQAAAAEAAADvEwAA
	AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAA
	AAQQAACcAAAAAAAAAAUQAAAwAQAAAAAAABAQAABkAQAAAAAAAEAQAABUAQAAAAAAAAIg
	AAAwAgAAAAAAAAUgAACgAQAAAAAAABAgAACwAQAAAAAAABEgAADkAQAAAAAAABIgAADE
	AQAAAAAAABMgAADUAQAAAAAAACAgAAAQAgAAAAAAADAgAAA8AgAAAAAAAAHAAACEAQAA
	AAAAABHAAAAgAAAAAAAAABLAAACUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
